


#about {
	display: grid;
	justify-content: center;
	align-items: center;
        padding: 15px;
}


#about h3 {
	text-align: left;
	padding-left: 2em;
	text-decoration: underline;
}
#about p {
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	padding-left: 2em;
}

figure {
	display: grid;
	justify-content: center;
	align-items: center;
}
#about img { 
	background: transparent;
	display: grid;
	justify-content: center;
	align-items: center;
}
.project-headline {
	margin-right: 1em;
	margin-left: 1em;
}
