footer {
	height: 300px;
	background-color: black;
}
footer ul {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	padding: 1em;
}
li {
	list-style: none;
}
footer ul li img {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	height: 100px;
	width: 100px;
	transition: transform;
	transition-duration: .5s;
}
footer ul li img:hover {
	transform: scale(1.3);
}
.github img {
	border-radius: 50%;
}
hr {
	margin-bottom: 3em;
}
footer p {
	text-align: center;
	color: green;
}


