form {
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
label {
	padding: 20px;
}
input {
	background-color: white;
	padding:5px;
	border: 3px double green;
}
button {
	margin-left: em;
}
@media (min-width: 769px) {
	input, 
	label, 
	button {
		margin-right: 1em;
		width: 700px;
	}
	h1 {
		margin-left: 4em;
	}
}